<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mecanum_robot">

  <!-- Include modular xacro files -->
  <xacro:include filename="$(find mecanum_description)/urdf/materials.xacro"/>
  <xacro:include filename="$(find mecanum_description)/urdf/properties.xacro"/>
  <xacro:include filename="$(find mecanum_description)/urdf/chassis.xacro"/>
  <xacro:include filename="$(find mecanum_description)/urdf/mecanum_wheel.xacro"/>
  <xacro:include filename="$(find mecanum_description)/urdf/lidar.xacro"/>
  <xacro:include filename="$(find mecanum_description)/urdf/gazebo.xacro"/>

  <!-- Base footprint (ground plane reference) -->
  <link name="base_footprint"/>

  <joint name="base_footprint_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0 0 ${wheel_radius}" rpy="0 0 0"/>
  </joint>

  <!-- Chassis -->
  <xacro:chassis/>

  <!-- Mecanum Wheels -->
  <!-- Front Left -->
  <xacro:mecanum_wheel name="front_left_wheel"
    parent="base_link"
    x="${chassis_length/2 - wheel_x_offset}"
    y="${chassis_width/2 + wheel_y_offset}"
    z="0"
    roller_angle="${pi/4}"/>

  <!-- Front Right -->
  <xacro:mecanum_wheel name="front_right_wheel"
    parent="base_link"
    x="${chassis_length/2 - wheel_x_offset}"
    y="${-(chassis_width/2 + wheel_y_offset)}"
    z="0"
    roller_angle="${-pi/4}"/>

  <!-- Rear Left -->
  <xacro:mecanum_wheel name="rear_left_wheel"
    parent="base_link"
    x="${-(chassis_length/2 - wheel_x_offset)}"
    y="${chassis_width/2 + wheel_y_offset}"
    z="0"
    roller_angle="${-pi/4}"/>

  <!-- Rear Right -->
  <xacro:mecanum_wheel name="rear_right_wheel"
    parent="base_link"
    x="${-(chassis_length/2 - wheel_x_offset)}"
    y="${-(chassis_width/2 + wheel_y_offset)}"
    z="0"
    roller_angle="${pi/4}"/>

  <!-- LiDAR sensor -->
  <xacro:lidar_sensor parent="base_link"/>

</robot>
